.buttonCTA {
    background: black;
    border-radius: 8px;
    padding: 0 12px;
    margin: 0 4px;
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.blue {
    background: #5271ff;
    margin-right: 35px;
}
