@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-body: #191c26;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-body);
  display: grid;
  grid-template-columns: auto 1fr;
}

aside {
  width: 80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

aside ul.game-list li a {
  display: block;
  color: #4a4e62;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202430;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  margin-bottom: 8px;
}

aside ul.game-list li a:hover {
  background: #202843;
}

aside ul.game-list li svg {
  width: 20px;
  height: 20px;
}

aside ul.game-list li a span {
  display: none;
}

main {
  background: #13161e;
  border-radius: 24px 0px 0px 24px;
}

header {
  padding: 24px 40px;
  display: flex;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-right: 40px;
}

header ul.navigation {
  display: flex;
}

header ul.navigation li {
  margin-right: 24px;
}

header ul.navigation li a {
  color: #4a4e62;
  font-size: 14px;
  font-family: 600;
}

header .btn {
  background: #202430;
  border-radius: 8px;
  padding: 0 12px;
  margin: 0 4px;
  height: 44px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

header .btn.blue {
  background: #5271ff;
  margin-right: 35px;
}

header .btn img.avatar {
  margin-right: 10px;
}

header .btn.dropdown {
  padding-left: 4px;
  margin: 0 16px;
}

header .btn.dropdown::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("/chevron-up.svg");
  margin-left: 8px;
}

header .btn.sum span {
  color: #353949;
}

header .btn.sum::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/cash.svg");
  margin-right: 8px;
}

.filler {
  flex-grow: 1;
}
