p {
    line-height: 20px;
}
.main-block .header {
    background: #202430;
    border-bottom: 1px solid #191c26;
    padding: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.main-block {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 24px;
    color: #555a71;
    font-size: 14px;
    font-weight: 400;
}
.main-block .header img.icon {
    width: 20px;
    height: 20px;
}
.main-block .title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 8px;
}
.main-block .content {
    background: #191c26;
    padding: 16px;
}
ul.page-navigation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
ul.page-navigation li a {
    background: #202430;
    display: flex;
    gap: 8px;
    padding: 10px 14px;
    border-radius: 8px;
    color: #4a4e62;
}
ul.page-navigation li a:hover,
ul.page-navigation li a.active {
    color: #5271ff;
    background: #202843;
}
.progress {
    height: 8px;
}
.account {
    padding: 16px;
    background: #191c26;
}
.account .userName .avatar {
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.account .userName .userId {
    font-size: 16px;
}

.account .userName .userId span {
    background: #202430;
}
span.red {
    background: #3a2329;
    padding: 3px 10px;
    color: #fe4f4f;
    font-size: 14px;
    font-weight: 500;
    border-radius: 16px;
}
.divider {
    border-bottom: 1px solid #202430;
}
.form-group {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.form-group label {
    color: #555a71;
    font-size: 14px;
    font-weight: 500;
}
.form-group input {
    background: #202430;
    border: 1px solid #262a37;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    width: 100%;
    padding: 10px 14px;
}
.form-group input:disabled {
    background: #191C26;
}
.form-group input::placeholder {
    color: #555A71;
}
.form-group.icon-left input {
    padding: 10px 14px 10px 42px;
}
.form-group.icon-right input {
    padding: 10px 42px 10px 14px;
}
.form-group.link input {
    padding: 10px 14px;
    border-radius: 0 8px 8px 0;
}
.form-group.link .text {
    font-weight: 400;
    font-size: 16px;
    padding: 10px 14px;
    background: #202430;
    border: 1px solid #262a37;
    border-right: 0;
    border-radius: 8px 0 0 8px;
}
.form-group button {
    background: #5271ff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    outline: none;
    border-radius: 8px;
    padding: 12px;
}
.form-group .cursor {
    cursor: pointer;
}
.select-list {
    display: flex;
    gap: 6px;
}
.select-list button {
    background: #13161E;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
    color: #4A4E62;
    font-size: 16px;
    font-weight: 500;
}
.select-list button.select {
    background: #202843;
    color: #5271FF;
}
.drag-form {
    background: #13161E;
    border: 1px solid #262A37;
    border-radius: 8px;
    padding: 16px;
    color: #4A4E62;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    margin: 32px 0 16px 0;
}
.drag-form img.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
}
.drag-form span {
    color: #5271FF;
}
.drag-form input {
    display: none;
}
.upload-file-item {
    display: flex;
    padding: 16px;
    border: 1px solid #202430;
    background: #191C26;
    border-radius: 8px;
    align-items: flex-start;
    margin-bottom: 12px;
}
.upload-file-item .info {
    width: 100%;
    padding: 0 4px 0 16px;
}
.upload-file-item .info .title {
    color: #797E95;
    font-size: 14px;
    font-weight: 500;
}
.upload-file-item .info .size {
    color: #3B3F51;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
}